@page "{id?}"
@model Warehouse.Web.Pages.MaterialCategories.EditModel
@{
    ViewData["Title"] = "Update category";
}
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form  method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Category.Title"></label>
                    <input asp-for="Category.Title" class="form-control" />
                    <span asp-validation-for="Category.Title" class="text-danger"></span>
                </div>
                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-primary" asp-route-id="@RouteData.Values["id"]">Update</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
                <partial name="_ValidationScriptsPartial" />
}
